# IntelijIdea Project Junk
.idea/
*.iml


# Eclipse Project Junk
.settings/
.project
.classpath
.vscode


# Build directories
/build/
/out/
/target/
/*/target/

# Dependencies
node_modules/


# Gradle meta
.gradle/


# Compiled things
*.class


# Other version control
.svn/
Main/lib/.DS_Store
Main/lib/.DS_Store
Main/lib/R/.DS_Store
Main/lib/R/Metrics/.DS_Store
